@page
@model Natedpalm.Blog.Web.Pages.BlogPosts.CreateModel

<h1>Create Blog Post</h1>

<hr />
<div class="row">
    <div>
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="BlogPost.Title" class="control-label"></label>
                        <input asp-for="BlogPost.Title" class="form-control" />
                        <span asp-validation-for="BlogPost.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BlogPost.Author" class="control-label"></label>
                        <input asp-for="BlogPost.Author" class="form-control" />
                        <span asp-validation-for="BlogPost.Author" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="BlogPost.PostContent" class="control-label"></label>
                        <textarea asp-for="BlogPost.PostContent" id="blog-post-markdown"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts {
    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("blog-post-markdown") });
    </script>
}